body
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    margin: 0;

    color: #000;
    background-color: #fff;
}

/*.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
*/

a
{
    text-decoration: none;
}

img
{
    position: relative;

    max-width: 100%;
    height: auto;;
}



.button-red:hover
{
    background-color: #c92c37;
}

.button-red:active
{
    background-color: #ba2632;
}

.button-red
{
    background-color: #ee3643;
}

/* Header*/


.main-header
{
    width: 100%;
    min-height: 320px;

    background-color: #f2f6f8;
}
.header-search form
{
    height: 100%;
    position: relative;
    background-color: transparent;
}

.
.header-search ::-moz-placeholder
{
    color: #fff;
}

.header-search input[type='text']
{
    font-family: 'Cuprum';
    font-size: 17px;
    line-height: 18px;

    color: #000;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-left: 47px;
}

.search-input
{
    outline: none;
    box-sizing: border-box;
}

.header-search input[type='submit']
{
    position: absolute;

    cursor: pointer;

    border: none;
    background-image: url('../img/icon-search.svg');
    background-repeat: no-repeat;
    top: 13px;
    width: 20px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    left: 19px;
}



input[type='text']::-webkit-input-placeholder
{
    padding-top: 5px;

    color: #ccc;
}
input::-moz-placeholder
{
    color: #ccc;
}



.header-search
{
    width: 100%;
    height: 100%;;
}

.form-post:focus-within .search-input
 {
    background-color: #fff;
}
.form-post:focus-within .search-button {
    background-image: url('../img/icon-search-red.svg');
} 

.form-post:hover {
    background-color: #212a3b;
}
.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;

    background-color: transparent;
}

.header-nav .wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.site-name
{
    font-family: 'Cuprum';
    font-size: 24px;
    line-height: 24px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-width: 220px;
    min-height: 47px;
    margin-bottom: -5px;
    padding-top: 10px;

    text-align: center;

    color: #fff;
    border-bottom: 10px solid #b52933;
    background-color: #ee3643;
}

.header-nav
{
    font-family: 'Cuprum';
    font-size: 17px;
    line-height: 18px;

    color: #fff;
    background-color: #293449;
}

.header-nav-block
{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.order-header
{
    line-height: 41px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    min-width: 450px;
    height: 100%;

    text-align: center;
    vertical-align: middle;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.basket li
{
    color: yellow;
}

.order-header li:nth-of-type(1) a
{
    position: relative;

    display: block;

    padding-right: 26px;
    padding-left: 45px;

    background-color: transparent;
}

.order-header li:nth-of-type(1) a:hover
{
    background-color: #212a3b;
}

.order-header li:nth-of-type(1) a:hover path
{
    fill: #fff;
}

.order-header li:nth-of-type(1) a:active
{
    background-color: #161c28;
}

.order-header li:nth-of-type(2) a
{
    display: block;

    padding-right: 24px;
    padding-bottom: 1px;
    padding-left: 50px;
}
.order-header li:nth-of-type(2) a:not(.cart)
{
    background-color: #293448;
}


.order-header li:nth-of-type(2) a:hover:not(.cart)
{
    background-color: #212a3b;
}

.order-header li:nth-of-type(2) a:active:not(.cart)
{
    background-color: #161c28;
}

.order-header li:nth-of-type(3) a
{
    display: block;

    padding-right: 22px;
    padding-bottom: 1px;
    padding-left: 21px;

    background-color: #63a63e;
}

.order-header li:nth-of-type(3) a:hover
{
    background-color: #5fba2e;
}

.order-header li:nth-of-type(3) a:active
{
    background-color: #518533;
}
.order-header
{
    list-style: none;
}

.order-header
{
    margin: 0;
    padding: 0;
}

.order-header a
{
    color: #fff;
}

.order-header li:nth-of-type(1)
{
    position: relative;
}

.order-header li:nth-of-type(1) svg
{
    position: absolute;
    top: 12px;
    left: 14px;
}

.order-header li:nth-of-type(2)
{
    position: relative;
}

.order-header li:nth-of-type(2) svg
{
    position: absolute;
    top: 13px;
    left: 22px;;
}

.order-header li:nth-of-type(2) a:hover circle,
.order-header li:nth-of-type(2) a:hover polygon
{
    fill: #fff;
}

.user-navigation-list
{
    list-style: none;
}

.user-navigation-list
{
    margin: 0;
    padding: 0;
}


.main-header h1
{
    font-family: 'Cuprum';
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    line-height: 23px;

    padding-top: 37px;

    color: #ee3643;
}

.header-columns-item
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 52px;
}
.header-contact
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin-left: 26px;
    padding-top: 40px;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
}
.header-contact a
{
    font-family: 'Cuprum';
    font-size: 21px;
    line-height: 21px;

    position: relative;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-width: 260px;
    min-height: 38px;
    padding-top: 9px;
    padding-left: 16px;

    text-align: center;

    color: #ee3643;
    outline: 3px solid #fff;
}

.header-contact a:hover
{
    text-decoration: underline;
}

.header-contact a::before
{
    position: absolute;
    top: 10px;
    left: 7px;

    width: 20px;
    height: 20px;

    content: '';

    background-image: url('../img/icon-phone.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-contact span
{
    font-family: 'Cuprum';
    font-size: 14px;
    line-height: 24px;

    padding-top: 8px;
    padding-left: 2px;

    color: #32425c;
}

.user-navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 300px;
}

.user-navigation-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    padding-top: 46px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
.user-navigation a
{
    font-family: 'Cuprum';
    font-size: 21px;
    line-height: 21px;

    display: block;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-width: 120px;
    min-height: 45px;

    text-align: center;

    color: #000;
    background-color: #fff;
}

a.login-link:hover
{
    color: #ee3640;
}

a.login-link:active
{
    color: #c5c5c5;
}

a.login-link:hover path,
a.login-link:hover polygon
{
    fill: #000;
}


a.registration
{
    min-width: 150px;
    padding-top: 12px;
}

a.registration:hover
{
    color: #ee3640;
}

a.registration:active
{
    color: #c5c5c5;
}

a.login-link
{
    position: relative;

    margin-left: 20px;
    padding-top: 12px;
    padding-left: 23px;
}



.login-link svg
{
    position: absolute;
    top: 14px;
    right: 84px;;
}

.login-link svg:hover path,
.login-link svg:hover polygon
{
    fill: #000;
}

.header-columns .wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.site-nav
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 890px;
    margin-top: 31px;
    margin-right: auto;
    margin-left: auto;

    background-color: #32425c;

    -ms-flex-pack: distribute;

        justify-content: space-around;
}

.site-nav-div
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    border-bottom: 5px solid #293449;
    background-color: #32425c;
}
.site-nav a
{
    font-family: 'Cuprum';
    font-size: 17px;
    line-height: 17px;

    display: block;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 17px;
    padding-left: 30px;

    vertical-align: middle;

    color: #fff;
    background-color: #32425c;
}

.site-nav a:hover
{
    background-color: #293448;
}

.site-nav a:active
{
    color: #92959a;
    background-color: #1e2639;
}


/* main */


.info h3
{
    font-family: 'Cuprum';
    font-size: 30px;
    font-weight: lighter;
    line-height: 30px;

    display: block;

    min-width: 50px;
    margin-bottom: 0;
    padding-top: 0;

    color: #000;
}

.info p:nth-of-type(1)
{
    padding-top: 13px;
}

.info p:nth-of-type(2)
{
    padding-top: 12px;
}

.info p
{
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;

    letter-spacing: .1px;

    color: #000;
}

.info-blocks
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    height: 407px;
    margin-top: 60px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.info-blocks-top
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.info-blocks-bottom
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.info-blocks-bottom-right
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.info-blocks-top .block-1
{
    position: relative;

    background-color: #ffbf47;
}

.info-blocks-top .block-1::before
{
    position: absolute;
    top: 30px;
    left: 213px;

    width: 45px;
    height: 67px;

    content: '';

    background-image: url('../img/icon-color.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.info-blocks .flag
{
    position: absolute;
    z-index: 10;
    left: 240px;

    overflow: hidden;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
}

.info-blocks .flag-new
{
    background: url('../img/new-flag.png') no-repeat 0 0;
}

.info-blocks-top .block-2
{
    position: relative;

    background-color: #3bbce3;
}

.info-blocks-top .block-2::before
{
    position: absolute;
    top: 32px;
    left: 198px;

    width: 80px;
    height: 67px;

    content: '';

    background-image: url('../img/icon-drill.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.info-blocks-top .block-3
{
    position: relative;

    background-color: #dc91d8;
}

.info-blocks-top .block-3::before
{
    position: absolute;
    top: 30px;
    left: 192px;

    width: 80px;
    height: 67px;

    content: '';

    background-image: url('../img/icon-traktor.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.info-blocks-item.block-4
{
    position: relative;
    width: 620px;
    height: 265px;
}

.slider {
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
  
}

.slides {
    height: inherit;
    opacity: 1;
    position: absolute;
    width: inherit;
    z-index: 0;
    
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1{
background-image: url(../img/slider-1.png);
}

.slide2{
background-image: url(../img/slider-2.png);
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
 {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.block-4 > input {
    display: none;
}

.block-4 .controls {
    left: 50%;
    position: absolute;
    top: 215px;
}

.block-4 label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 24px -5px 2px 16px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
    background-color: transparent;;
}

.block-4 label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
    background: red;
}

.block-4 label:after {
    content: " ";
    display: block;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    height: 12px;
    border: 2px solid #fff;;;;
}

.info-blocks-bottom .block-4::before
{
    position: absolute;
    top: 115px;
    left: 25px;

    width: 22px;
    height: 42px;

    content: '';
    cursor: pointer;

    background-image: url('../img/icon-left.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 1;;
}

.info-blocks-bottom .block-4::after
{
    position: absolute;
    top: 114px;
    left: 579px;

    width: 22px;
    height: 42px;

    content: '';
    cursor: pointer;

    background-image: url('../img/icon-right.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

a.catalog-open
{
    font-family: 'Cuprum';
    font-size: 14px;
    line-height: 38px;
    text-align: center;

    display: block;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 195px;
    margin-top: 122px;
    margin-left: 25px;

    color: #fff;
    border-radius: 3px;
    background-color: #ef3644;
}

.info-blocks-bottom .block-5
{
    position: relative;

    background-color: #8ed78f;
}

.info-blocks-bottom .block-5::before
{
    position: absolute;
    top: 26px;
    left: 196px;

    width: 80px;
    height: 75px;

    content: '';

    background-image: url('../img/icon-cart-big.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.info-blocks-bottom .block-6
{
    position: relative;

    background-color: #ffc047;
}

.info-blocks-bottom .block-6::before
{
    position: absolute;
    top: 32px;
    left: 192px;

    width: 80px;
    height: 75px;

    content: '';

    background-image: url('../img/icon-car-big.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.info-blocks-item
{
    width: 300px;
    height: 122px;
}

.info-blocks h3
{
    font-family: 'Cuprum';
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;

    margin: 0;
    padding-top: 19px;
    padding-left: 22px;

    color: #fff;
}

.info-blocks-item a:not(.catalog-open)
{
    font-family: 'Cuprum';
    font-size: 14px;
    line-height: 18px;

    display: block;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 135px;
    margin-top: 13px;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;

    color: #fff;
    border-radius: 3px;
}
.info-blocks-item a:not(.catalog-open)
{
    background-color: rgba(229,229,229,.5);
}

.info-blocks-item a:not(.catalog-open):hover
{
    background-color: rgba(204,204,204,.9);
}

.info-blocks-item a:not(.catalog-open):active
{
    background-color: rgba(178,178,178,.9);
}

.info-blocks-item.block-3 a
{
    margin-top: 13px;
    margin-left: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 31px;

    color: #fff;
    border-radius: 3px;
}

.info-blocks-item.block-4 p
{
    font-family: 'Cuprum';
    font-size: 18px;
    font-weight: lighter;
    line-height: 24px;

    margin: 0;
    padding-top: 8px;
    padding-left: 24px;

    color: #fff;
}
h4.for-block-4
{
    font-family: 'Cuprum';
    font-size: 36px;
    font-weight: bold;

    display: block;

    margin: 0;
    padding-top: 28px;
    padding-left: 23px;

    color: #fff;
}

.info-blocks-item.block-5 a
{
    margin-top: 12px;
    margin-left: 23px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 22px;

    color: #fff;
    border-radius: 3px;
}

.info-blocks-item.block-6 a
{
    margin-top: 14px;
    margin-left: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 36px;

    color: #fff;
    border-radius: 3px;
}
.popular-goods
{
    font-family: 'Cuprum';

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    margin-top: 58px;

    background-color: #f9f5f0;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.popular-goods h2
{
    font-family: inherit;
    font-size: 30px;
    font-weight: lighter;
    line-height: 30px;

    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 29px;
}

.popular-button
{
    font-family: inherit;
    font-size: 14px;
    line-height: 38px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    margin-top: 21px;
    margin-right: 24px;
    padding-right: 55px;
    padding-left: 55px;

    color: #fff;
    border-radius: 3px;
    background-color: #ee3643;
    margin-bottom: 26px;
}

.goods-show
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 315px;
    margin-top: 20px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.goods-show .catalog-item
{
    margin: 0;
}

.popular-manufacturers
{
    font-family: 'Cuprum';

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    margin-top: 60px;
    margin-top: 24px;

    background-color: #f9f5f0;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.popular-manufacturers h2
{
    font-family: inherit;
    font-size: 30px;
    font-weight: lighter;
    line-height: 30px;

    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 23px;
}

.popular-manufacturers-button
{
    font-family: inherit;
    font-size: 14px;
    line-height: 38px;
    text-align: center;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 28px;
    padding-right: 69px;
    padding-left: 70px;

    color: #fff;
    border-radius: 3px;
    background-color: #ee3643;
}
.manufacturers-show
{
    margin-top: 21px;
}

.manufacturers-show a:hover
{
    -webkit-box-shadow: 0 0 20px 0 #34495e;
            box-shadow: 0 0 20px 0 #34495e;
}

.manufacturers-show a:active
{
    -webkit-box-shadow: 0 0 10px 0 #34495e;
            box-shadow: 0 0 10px 0 #34495e;
    /*filter: blur(1px);*/

    -webkit-filter: opacity(65%);

            filter: opacity(65%);
}

.manufacturers-show-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 21px;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
}

.manufacturers-show ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.manufacturers-show-item a
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 220px;
    height: 143px;
    margin-bottom: 20px;

    outline: 1px solid #ccc;
    background-color: #fff;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.services
{
    

    overflow: hidden;

    height: 480px;
    margin-top: 68px;
    padding-top: 22px;
    padding-bottom: 20px;

    background-color: #f4f8fa;
}

.services-top h2
{
    font-family: 'Cuprum';
    font-size: 30px;
    font-weight: lighter;
    line-height: 30px;

    margin: 0;
    padding: 0;
    padding-top: 43px;
}

.services-top p
{
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;

    margin: 0;
    padding: 0;
    padding-top: 25px;
}

.services-bottom
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 620px;
    margin-top: 65px;
    position: relative;
}

.services-list
{
    position: relative;

    width: 235px;
}

.services-list::after
{
    position: absolute;
    top: -40px;
    left:225px;

    width: 10px;
    height: 279px;

    content: '';

    background-image: url('../img/icon-shadow-2.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}


.services-list ul
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;
}

.services-list a
{
    font-family: 'Cuprum';
    font-size: 21px;
    line-height: 30px;

    display: block;

    padding-top: 17px;
    padding-right: 143px;
    padding-bottom: 14px;
    padding-left: 22px;

    color: #fff;
    background-color: #32425c;
}

.services-list a:hover
{
    background-color: #293448;
}

.services-list a:active
{
    color: #000;
    background-color: #fff;
}

.services-list li:not(:nth-of-type(1))
{
    border-top: 1px solid #29344a;
}

.delivery
{
    z-index: 1;

    margin-left: 84px;
}

.delivery h2
{
    font-family: 'Cuprum';
    font-size: 36px;
    font-weight: lighter;
    line-height: 36px;

    margin: 0;
    padding: 0;
}

.delivery p
{
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;

    margin: 0;
    padding: 0;
    padding-top: 25px;
}

img.delivery-car
{
    position: absolute;
    z-index: 0;
    top: 30px;
    right: -320px;
}

.partners-list
{
    display: block;

    margin: 0;
    padding: 0;
    padding-top: 6px;
    padding-left: 50px;
    padding-left: 35px;

    list-style: none;

    letter-spacing: -1px;
}

.partners-list-item
{
    position: relative;
}

.partners-list-item:before
{
    position: absolute;
    top: 11px;
    left: -35px;

    width: 25px;
    height: 2px;

    content: '';

    background-color: red;
}

.partners li
{
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 20px;

    color: #000;
}

.partners-list li:nth-of-type(1),
.partners-list li:nth-of-type(2)
{
    padding-bottom: 15px;
}

.partners-list li:nth-of-type(3)
{
    padding-bottom: 18px;
}

.index-columns
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 48px;
    margin-bottom: 86px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.info
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact
{
    min-width: 250px;
}





a.info-button
{
    font-family: 'Cuprum';
    font-size: 14px;
    line-height: 38px;

    display: inline-block;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-width: 220px;
    min-height: 38px;
    margin-top: 18px;
    

    text-align: center;

    color: #fff;
    border-radius: 3px;
    background-color: #ee3642;
}

.contact-button
{
    margin-top: 5px;
    margin-top: 35px;
}

.contact h3
{
    font-family: 'Cuprum';
    font-size: 30px;
    font-weight: lighter;
    line-height: 30px;

    margin-bottom: 0;

    color: #000;
}

.contact p
{
    font-family: 'PT Sans';
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;

    margin-top: 26px;

    color: #000;
}


a.contact-button
{
    font-family: 'Cuprum';
    font-size: 14px;
    line-height: 38px;

    display: block;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-height: 38px;
    text-align: center;

    color: #fff;
    border-radius: 3px;
    background-color: #ee3642;
}

.contact img
{
    margin-top: 18px;
}




/* Footer */

.foot
{
    width: 100%;
}

.foot ul
{
    list-style: none;
}

.footer-top
{
    display: block;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-height: 195px;

    background-color: #32425c;
}

.footer-top-columns
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-bottom: 25px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.footer-top-columns .site-name
{
    font-family: 'Cuprum';
    font-size: 30px;
    line-height: 30px;
    line-height: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    min-height: 68px;
    padding-top: 32px;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
}

.footer-top .footer-adress a,
.footer-top .footer-adress span
{
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 24px;

    color: #fff;
}

.footer-top .footer-adress a:hover
{
    text-decoration: underline;
}

.footer-top .footer-adress a:active
{
    opacity: .5;
}

.nav-footer a:hover
{
    text-decoration: underline;
}

.footer-list a:hover
{
    text-decoration: underline;
}

.nav-footer a:active
{
    text-decoration: none;

    -webkit-filter: opacity(50%);

            filter: opacity(50%);
}

.footer-list a:active
{
    text-decoration: none;

    -webkit-filter: opacity(50%);

            filter: opacity(50%);
}

.nav-footer a
{
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 24px;

    color: #fff;
}

.footer-list a
{
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 24px;

    color: #ffd180;
}

.nav-footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-width: 548px;
    padding-top: 37px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
ul.footer-list
{
    margin: 0;
}

.footer-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 525px;
    padding-top: 6px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.footer-block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.footer-adress
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    min-width: 320px;
    padding-top: 8px;
    padding-left: 3px;
}

.footer-bottom .wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.footer-bottom
{
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-height: 105px;

    background-color: #293449;
}

.footer-bottom-block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 310px;
    padding-right: 15px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-bottom-block a:hover
{
    text-decoration: underline;
}

.footer-bottom-block a:active
{
    text-decoration: none;

    color: #ec3643;
}

.footer-social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.social-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 130px;
    margin-left: 75px;
    padding-right: 5px;
    padding-left: 2px;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-social a
{
    display: block;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-width: 40px;
    min-height: 40px;
    padding-top: 10px;

    text-align: center;

    border-radius: 50%;
    background-color: #212a3a;
}

.footer-social a:hover
{
    background-color: #ec3643;
}

.footer-social a:active
{
    background-color: #ec3643;
}

.footer-copyright
{
    font-family: 'Cuprum';
    font-size: 16px;
    line-height: 18px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    color: #fff;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}

.footer-contact span
{
    font-family: 'Cuprum';
    font-size: 16px;
    line-height: 18px;

    color: #fff;
}

.footer-contact a
{
    font-family: 'Cuprum';
    font-size: 16px;
    line-height: 18px;

    color: #ffd180;
}
.footer-contact
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin-left: 26px;
}

.footer-righter
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin-left: 10px;
}
.footer-righter span
{
    font-family: 'Cuprum';
    font-size: 16px;
    line-height: 18px;

    color: #fff;
}

.footer-righter a
{
    font-family: 'Cuprum';
    font-size: 16px;
    line-height: 18px;

    color: #ffd180;
}









/*--------------/* Catalog */


.site-name
{
    font-family: 'Cuprum';
    font-size: 24px;
    line-height: 24px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-width: 220px;
    min-height: 47px;
    margin-bottom: -5px;
    padding-top: 10px;

    text-align: center;

    color: #fff;
    border-bottom: 5px solid #b52933;
    background-color: #ee3643;
}

.order-header a.cart
{
    background-color: #ee3643;
}

a.cart:hover
{
    background-color: #c92c37;
}

.name-input input
{
    font-family: 'Cuprum';
    font-family: 'Cuprum';
    font-size: 21px;
    line-height: 21px;

    width: 203px;
    margin-top: 45px;
    padding-top: 13px;
    padding-right: 52px;
    padding-bottom: 12px;
    padding-left: 46px;

    border: none;
    background-color: #fff;
}

.name-input
{
    position: relative;
}

.login:hover path
{
    fill: #314359;
}

.login:active path
{
    fill: #c5c5c5;
}

.logout:hover path,
.logout:hover polygon
{
    fill: #314359;
}

.logout:active path,
.logout:active polygon
{
    fill: #c5c5c5;
}

.name-input svg
{
    position: absolute;
    top: 60px;
    left: 14px;
}



svg.logout
{
    position: absolute;
    top: 60px;
    left: 269px;
}

.user-catalog
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-width: 30px;
    margin: 0;
    padding-top: 7px;
    padding-right: 73px;
    padding-left: 17px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.user-navigation-catalog
{
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 300px;
}

.user-katalog
{
    margin: 0;
    padding: 0;
}

.user-catalog li
{
    font-family: 'Cuprum';
    font-size: 16px;
    line-height: 18px;

    list-style: none;
}

.user-catalog a
{
    text-decoration: underline;
}

.user-catalog a:active
{
    color: #000;
}

.user-catalog a:hover
{
    color: #ef3644;
}

.user-catalog a:active
{
    color: #c5c5c5;
}

a.personal-area
{
    position: relative;
}



.user-catalog:before
{
    position: absolute;
    top: 109px;
    left: 105px;

    width: 4px;
    height: 4px;

    content: '';

    border-radius: 50%;;
    background-color: #000;
}


/*breadcrumb*/


.breadcrumb ul
{
    list-style: none;
}

.breadcrumb a
{
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;

    padding-right: 17px;

    color: #000;
}

.breadcrumb li
{
    position: relative;
}

.breadcrumb-list li:not(:last-of-type):after
{
    position: absolute;
    right: 7px;
    bottom: 22px;

    width: 15px;
    height: 15px;

    content: '';

    background-image: url('../img/icon-right-small.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumb-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 60px;
    margin: 0;
    padding: 0;
}

.breadcrumb-list li
{
    padding-top: 15px;
    padding-right: 20px;
}
/* page */

.page
{
    min-height: 90px;
    margin-top: -25px;

    background-color: #f2f6f8;
}

.page-titel
{
    font-family: 'Cuprum';
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    padding-top: 30px;
    padding-left: 28px;

    color: #32425c;
}

.filter-sort
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 40px;
    margin-top: 17px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.filter-div
{
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;

    min-width: 220px;

    border-radius: 3px;
    background-color: #f7f3ec;
}

.filter-div h4
{
    font-weight: lighter;

    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 19px;
}
.sort-div
{
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;

    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    min-width: 700px;

    border-radius: 3px;
    background-color: #f7f3ec;
}

svg.up
{
    position: absolute;
    top: 15px;
    right: 49px;
}

svg.down
{
    position: absolute;
    top: 15px;
    left: 671px;
}
svg.up polygon:hover,
svg.down polyline:hover
{
    fill: #242021;
}

svg.up polygon:active,
svg.down polyline:active
{
    fill: #ee3543;
}

.sort-button
{
    font-family: inherit;

    cursor: pointer;
    -webkit-text-decoration: underline dotted red;
            text-decoration: underline dotted red;

    color: #b6b3ae;
    border: none;
    outline: none;
    background-color: transparent;
}

.sort-div button:nth-of-type(1)
{
    padding-left: 142px;
}

.sort-div button:nth-of-type(2)
{
    padding-left: 62px;
}

.sort-div button:nth-of-type(3)
{
    padding-left: 58px;
}

.sort-button:hover
{
    -webkit-text-decoration: underline solid #000;
            text-decoration: underline solid #000;

    color: black;
}

.sort-button:active
{
    text-decoration: none;

    color: #ee3643;
}

.sort-div h4
{
    font-weight: lighter;

    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 19px;
}


.catalog-checkbox span
{
    font-family: 'PT Sans';
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;

    color: #000;
}
.catalog-checkbox {
    position: relative;
}
.filter-checkbox
{
    list-style: none;
}


.filter-option label
{
    position: relative;
}

.filter-input-checkbox + label::before
{
    position: absolute;
    left: -34px;

    width: 23px;
    height: 23px;

    content: '';

    background-image: url('../img/checkbox-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::after
{
    opacity: .6;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::after
{
    opacity: .2;
}


.filter-input-checkbox:checked + label::after
{
    position: absolute;
    left: -34px;
    width: 28px;
    height: 23px;

    content: '';

    background-image: url('../img/checkbox-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before
{
    position: absolute;
    top: -1px;
    left: -42px;

    width: 25px;
    height: 25px;

    content: '';

    background-image: url('../img/radio-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio:checked + label::after
{
    position: absolute;
    top: -1px;
    left: -42px;

    width: 25px;
    height: 25px;

    content: '';

    background-image: url('../img/radio-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after
{
    opacity: .6;
}

.filter-input-radio:disabled + label::after,
.filter-input-radio:disabled + label::before
{
    opacity: .2;
}

.filter-current
{
    list-style: none;
}

.current span
{
    font-family: 'PT Sans';
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;

    color: #000;
}

.current label
{
    font-family: 'PT Sans';
    font-size: 15px;
    line-height: 20px;

    color: #000;
}

.catalog-checkbox label
{
    font-family: 'PT Sans';
    font-size: 15px;
    line-height: 20px;

    color: #000;
}

.filter fieldset
{
    border: none;
}

.catalog-page
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 18px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.filter ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.filters
{
    display: block;

    min-width: 220px;
}
.filters .block-middle
{
    position: relative;

    min-height: 80px;
    margin-top: 12px;

    background-color: #f7f3ec;
}

svg.left
{
    position: absolute;
    top: 30px;
    left: 20px;

    cursor: pointer;
}

svg.right
{
    position: absolute;
    z-index: 20;
    top: 30px;
    left: 160px;

    cursor: pointer;
}

.filters .block-middle:before
{
    position: absolute;
    top: 39px;
    left: 35px;

    width: 125px;
    height: 2px;

    content: '';

    background-color: #00ca74;
}

.filters .block-middle:after
{
    position: absolute;
    top: 39px;
    left: 175px;

    width: 25px;
    height: 2px;

    content: '';

    background-color: #d7dcde;
}

.filters .block-bottom
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.filters .block-bottom-right,
.filters .block-bottom-left
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 95px;
    min-height: 35px;
    margin-top: 10px;
    padding-top: 5px;

    text-align: center;

    background-color: #f7f3ec;
}

.block-bottom-left
{
    position: relative;
}

.block-bottom-left:before
{
    position: absolute;
    top: 22px;
    left: -21px;

    width: 12px;
    height: 1px;

    content: '';

    background-color: #000;
}

.filter-price
{
    min-height: 162px;
    padding-bottom: 43px;
    position: relative;;
}

.filter-button
{
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;

    color: #000;
}

.filter-price span
{
    margin: 0;
    padding: 0;
}

.catalog-checkbox
{
    padding: 0;
    margin-top: 10px;;
}

.filter-price:after
{
    position: absolute;

    width: 220px;
    height: 1px;

    background-image: url('../img/checkbox-line.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    content: '';
    top: 190px;
}


.catalog-checkbox:after
{
    position: absolute;

    width: 220px;
    height: 1px;

    content: '';

    background-image: url('../img/checkbox-line.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 247px;
}
.catalog-checkbox span
{
    padding-top: 20px;
}

ul.filter-checkbox
{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 24px;
    padding: 0;
    position: relative;;
}

.filter-checkbox .filter-option
{
    padding-bottom: 16px;
    padding-left: 35px;
}

.current
{
    margin-bottom: 50px;
}
ul.filter-current
{
    margin: 0;
    padding: 0;
}

.current span
{
    margin-left: -15px;
}
ul.filter-current
{
    margin-top: 4px;
}

.current .filter-option
{
    padding-bottom: 16px;
    padding-left: 20px;
}


.filter-button
{
    display: inline;

    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-right: 38px;
    padding-bottom: 10px;
    padding-left: 38px;

    cursor: pointer;

    border: 1px solid #e5e5e5;
    border-radius: 3px;
    outline: none;
    outline-offset: 0;
    background-color: transparent;
}

.catalog-items
{
    width: 700px;
}

.catalog-item
{
    font-weight: bold;
    line-height: 20px;

    position: relative;

    display: inline-block;

    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;

    text-align: center;

    border: 1px solid #ccc;
}

.catalog-item:hover
{
    -webkit-box-shadow: 0 0 20px 0 #34495e;
            box-shadow: 0 0 20px 0 #34495e;
}

.catalog-item:nth-child(3n)
{
    margin-right: 0;
}

.catalog-items
{
    font-size: 0;
}
.catalog-item
{
    font-size: 16px;
}

.catalog-item .flag
{
    position: absolute;
    z-index: 20;
    top: -1px;
    right: -1px;

    overflow: hidden;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
}

.catalog-item .flag-new
{
    background: url('../img/new-flag.png') no-repeat 0 0;
}

.catalog-item .actions
{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 218px;
    height: 88px;
    padding: 40px 0;

    background-color: #fff;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark
{
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

    display: block;

    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;

    text-decoration: none;
    text-transform: uppercase;

    color: white;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;
    background-color: #63a63e;
}

.catalog-item .actions .buy::before
{
    position: absolute;
    left: 55px;

    width: 20px;
    height: 20px;

    content: '';

    background-image: url('../img/icon-cart.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-item .actions .buy:hover
{
    background-color: #5fba2e;
}

.catalog-item .actions .buy:active
{
    background-color: #508533;
}

.catalog-item .actions .bookmark
{
    color: #32425c;
    border-bottom-color: #63a63e;
    background: white;
}

.catalog-item .actions .bookmark:hover
{
    border: 3px solid #32425c;
}


.catalog-item .actions .bookmark:active
{
    border: 3px solid #32425c;

    -webkit-filter: opacity(.3);

            filter: opacity(.3);
}

.catalog-item .actions
{
    display: none;
}
.catalog-item:hover .actions
{
    display: block;
}


.catalog-item .image
{
    width: 218px;
    height: 168px;
}
.catalog-item .image img
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    margin-top: 27px;
    margin-right: 23px;
}

.catalog-item .image .bosch-9000
{
    margin: 0;
    margin-top: 5px;
}

.catalog-item .title
{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    min-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 25px;
}
.catalog-item .discount
{
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-height: 20px;
    margin-bottom: 10px;
    padding-top: 2px;

    text-decoration: line-through;

    color: #999;
}

.catalog-item .price
{
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;

    position: relative;

    width: 75px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;

    color: white;
    border-radius: 3px;
    background: #ee3643;
}

.catalog-item .price:after
{
    position: absolute;
    top: 0;
    right: -25px;

    width: 0;
    height: 0;

    content: '';

    border: 19px solid white;
    border-left-color: #ee3643;
}
/* pagination-list */

.pagination-list
{
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    margin-top: 33px;
    margin-bottom: 58px;
    margin-left: 241px;
}

ul.pagination-list
{
    padding: 0;

    list-style: none;
}

.pagination-item a
{
    display: block;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    margin-right: 10px;
    padding-top: 8px;
    padding-right: 14px;
    padding-bottom: 11px;
    padding-left: 15px;

    color: #000;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination-item a:hover
{
    border: 1px solid #bdc6cb;
}

.active a:focus
{
    color: #fff;
    border: 1px solid #ee3643;
    background-color: #ee3643;
}

.pagination-list a:active
{
    border: 1px solid #ee3643;
}

.pagination-item:last-child a
{
    padding-right: 32px;
    padding-left: 30px;
}

.info-div
{
    font-family: 'Cuprum';

    background-color: #f2f6f8;
}

.info-div h3
{
    margin: 0;
    padding: 0;
}

.info-div h3
{
    font-size: 30px;
    font-weight: lighter;
    line-height: 30px;

    padding-top: 66px;
    padding-bottom: 25px;
}

.info-div p
{
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;

    margin: 0;
    padding: 0;
    padding-bottom: 69px;
}
/*---------------MODAL----------------------*/

.modal-write-us
{
    position: fixed;
    z-index: 20;
    top: -30px;
    left: 40%;

    display: none;

    margin-left: -230px;
    padding: 50px 80px;
}

.open {
    display: block;
}
.write-us
{
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 18px;

    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 620px;
    height: 430px;
    margin: 20px auto;

    border-top: 7px solid #ff5257;
    background-color: #fff;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}

.write-us
{
    -webkit-box-shadow: 0 0 20px 0 #34495e;
            box-shadow: 0 0 20px 0 #34495e;
}

.modal-close
{
    font-size: 0;

    position: absolute;
    top: 15px;
    right: 15px;

    width: 25px;
    height: 25px;

    content: '';
    cursor: pointer;
    background: none;

    border: 0;
    outline: none;
    background-image: url('../img/icon-close.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}


.write-us p
{
    margin: 0;
}

.write-us-item  p
{
    margin-top: 50px;
}

.write-us-item  input
{
    font-size: 13px;
    line-height: 18px;

    margin-top: 15px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 12px;

    color: #dee3e4;
    border-color: #dee3e4;
    border-radius: 3px;
}
.write-us-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    min-width: 460px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.write-us-item-bottom textarea
{
    font-size: 13px;
    line-height: 18px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-top: 10px;
    padding-left: 12px;

    color: #dee3e4;
    border-color: #dee3e4;
    border-radius: 3px;
}

.write-us-item-bottom textarea::-webkit-input-placeholder
{
    color: #dee3e4;
}

.write-us-item-bottom .area
{
    min-width: 460px;
}

.write-us-button-send-block
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100px;

    text-align: center;

    background-color: #f4f4f4;
}


.write-us-button-send-block .button
{
    font: inherit;

    display: inline;

    margin: 0;
    margin-top: 25px;
    padding: 0;
    padding-top: 12px;
    padding-right: 195px;
    padding-bottom: 12px;
    padding-left: 195px;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    outline-offset: 0;
    background-color: #ee3643;
}

.goods-basket
{
    position: fixed;
    z-index: 20;
    top: 80px;
    left: 30%;

    display:none;

    width: 620px;
    min-height: 280px;
    margin: 20px auto;

    border-top: 7px solid #ee3643;
    background-color: #fff;
}

.goods-open {
    display: block;
}

.goods-basket-top
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 180px;
}

.goods-basket-top span
{
    font-size: 30px;
    font-weight: inherit;
    line-height: 30px;

    position: relative;

    display: block;

    padding-top: 70px;
    padding-left: 150px;
}

.goods-basket-bottom-block
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 100px;

    background-color: #f1f1f1;
}

.doods-basket-button
{
    font-family: 'Cuprum';
    font-size: 14px;
    line-height: 18px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    width: 480px;
    margin-right: auto;
    margin-left: auto;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.doods-basket-button a
{
    margin-top: 26px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 60px;

    border-radius: 3px;
}

.doods-basket-button a:first-child
{
    color: #fff;
    background-color: #ee3443;
}

.doods-basket-button a:first-child:hover
{
    background-color: #c92c37;
}

.doods-basket-button a:first-child:active
{
    background-color: #ba2632;
}

.doods-basket-button a:last-child
{
    color: #000;
    background-color: #fff;
}

.doods-basket-button a:last-child:hover
{
    color: #c5c5c5;
}

.modal-close-basket
{
    font-size: 0;

    position: absolute;
    top: 15px;
    right: 15px;

    width: 25px;
    height: 25px;

    content: '';
    cursor: pointer;
    outline: none;
    background: none;

    border: 0;
    background-image: url('../img/icon-close.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.goods-basket
{
    -webkit-box-shadow: 0 0 20px 0 #34495e;
            box-shadow: 0 0 20px 0 #34495e;
}

.goods-basket-top span::before
{
    position: absolute;
    top: 53px;
    left: 53px;

    width: 68px;
    height: 68px;

    content: '';

    background-image: url('../img/form-1.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.modal-map {
    position: fixed;
    display: none;
     z-index: 40;
    top: 80px;
    left: 22%;
    width: 940px;
    height: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    outline: 2px solid red;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px 0 #34495e;
            box-shadow: 0 0 20px 0 #34495e;
}

.modal-map-open {
    display: block;
}
.modal-close-map
{
    font-size: 0;

    position: absolute;
    top: 15px;
    right: 15px;

    width: 25px;
    height: 25px;

    content: '';
    cursor: pointer;
    outline: none;
    background-color: none;
    background: none;


    border: 0;
    background-image: url('../img/icon-close.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
